.centerHV {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerH{
    position: absolute;
    left: 50%; 
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}

.container { 
    position: relative;
    height: 100%;
}

html, body {
    height: 100%;
}

.centerText{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#leaderBoard{
    position: absolute; 
    top: 0%; 
    right: 0%;
    text-align: center;
}

ol{
    text-align: left;
}
