.button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 21px;
    right: 100px;
    position: absolute;
}

.buttonspeed {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 100px;
    right: 21px;
    position: absolute;
}

body {
    background-color: #292929;
}

#teams {
    position: absolute;
    top: 21px;
    right: 21px;
}

label {
    color: white;
}